<html>
    <head>
        <title>Test simple text form</title>
        <script src='https://api.mapbox.com/mapbox-gl-js/v0.49.0/mapbox-gl.js'></script>
        <link href='https://api.mapbox.com/mapbox-gl-js/v0.49.0/mapbox-gl.css' rel='stylesheet' />
    </head>
    <body>
    {% csrf_token %}
      <p><b>{{ret_code}}</b></p>
      <form action="" method="post">
        {% csrf_token %}
        {{ form }}

        <input type="submit" value="Построить маршрут">
      </form>


      {% block content %}
<p><b><label class="switch">
        <input type="checkbox" id='first_point'>
        <label for="first_point">Установить начальную точку</label>
        <span class="slider round"></span>
        <input type="checkbox" id='end_point'>
        <label for="end_point">Установить конечную точку</label>
        <span class="slider round"></span>
        </label></b></p>

      <div id='map' style='width: 800px; height: 600px;'></div>
        <script>
        mapboxgl.accessToken = '{{ mapbox_access_token }}';
        var map = new mapboxgl.Map({
        container: 'map',
        style: 'mapbox://styles/mapbox/streets-v10',
        pitch: 0
        });

         {% load l10n %}
        map.fitBounds([[
        {% localize off %}
        {{ bound_min_la|unlocalize }},
        {{ bound_min_phi|unlocalize }}
    ], [
        {{ bound_max_la|unlocalize }},
        {{ bound_max_phi|unlocalize }}
        {% endlocalize %}
    ]]);

        map.on('load', function () {

    map.addLayer({
        "id": "route",
        "type": "line",
        "source": {
            "type": "geojson",
            "data": {
                "type": "Feature",
                "properties": {},
                "geometry": {
                    "type": "LineString",
                    "coordinates": [
                    {% for point in route %}
                    {% localize off %}
                    [{{ point.1|unlocalize}},{{ point.0|unlocalize}}],
                    {% endlocalize %}
                    {% endfor %}
                    ]
                }
            }
        },
        "layout": {
            "line-join": "round",
            "line-cap": "round"
        },
        "paint": {
            "line-color": "rgba(255, 0, 0, 0.5)",
            "line-width": 6
        }
    });
    map.on('click', function(e) {

    if (document.getElementById('first_point').checked)
    {
        document.getElementById('begin_phi').value = (e.lngLat.lat).toFixed(4);
        document.getElementById('begin_lambda').value = (e.lngLat.lng).toFixed(4);
    }

    if (document.getElementById('end_point').checked)
    {
        document.getElementById('end_phi').value = (e.lngLat.lat).toFixed(4);
	    document.getElementById('end_lambda').value = (e.lngLat.lng).toFixed(4);
    }

    });
});



       </script>
      {% endblock %}
    </body>
</html>
